<div class="row">
  <div id="block_error">
    <div>
      <h2>Error. &nbspOops we have encountered an error</h2>
      <p>
        It appears that credentials are wrong, try it again
      </p>
      <a href="<%=videos_path%>" class="btn btn-primary">back</a>
    </div>
  </div>
</div>